<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Loan Application Page</title>
</head>
<body>
    <p >
        User is to provide necessary information for the company to effectively work on this application.
    </p>
    <main>
        <form action="/availability" method="post">
            <div class="container">
                <div class="fields">
                    <div class="form-field">
                        <label for="gender">Gender:</label>
                        <select name="gender" id="gender" required>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                            <option value="none" selected>Prefer not to say</option>
                        </select>
                    </div>
                    <div class="form-field">
                        <label for="married">Are you Married?:</label>
                        <select name="married" id="married" required>
                            <option value="yes">Yes</option>
                            <option value="no">No</option>
                            <option value="none" selected>Prefer not to say</option>
                        </select>
                    </div>
                    <div class="form-field">
                        <label for="dependent">How many people are dependent on you?:</label>
                        <select name="dependent" id="dependent" required>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3+">3 and above.</option>
                        </select>
                    </div>
                    <div class="form-field">
                        <label for="self-employed">Are you Self employed?:</label>
                        <select type="text" name="self-employed" id="self-employed" required>
                            <option value="yes">Yes</option>
                            <option value="">No</option>
                        </select>
                    </div>
                    <div class="form-field">
                        <label for="education">Are you a Graduate?:</label>
                        <select type="text" name="education" id="education" required>
                            <option value="graduate">Yes</option>
                            <option value="graduate">No </option>
                        </select>
                    </div>
                    <div class="form-field">
                        <label for="phone">Phone:</label>
                        <input type="tel" name="phone" id="phone" placeholder="Phone" required>
                    </div>
                    <div class="form-field">
                        <label for="country">Country:</label>
                        <input type="text" name="country" id="country" placeholder="Country" required>
                    </div>
                    <div class="form-field">
                        <label for="state">State/Province:</label>
                        <input type="text" name="state" id="state" placeholder="State" required>
                    </div>
                    <div class="form-field">
                        <label for="email">Email:</label>
                        <input type="email" name="email" id="email" placeholder="Email" required>
                    </div>
                    <div class="form-field">
                        <label for="password">Password:</label>
                        <input type="password" name="password" id="password" placeholder="Password" required>
                    </div>
                    <div class="form-field">
                        <label for="confirm-password">Confirm password:</label>
                        <input type="password" name="confirm-password" id="confirm-password" placeholder="Confirm password" required>
                    </div>
                </div>
                <div class="button-field">
                    <button type="submit" class="submit-button">Register</button>
                </div>
            </div>
        </form>
    </main>
    Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
</body>
</html>