<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/page.css">
    <title>Loan Application Page</title>
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <div class="logo"><a href="/home">LoanMe</a></div>
            <ul class="navbar-toggle ">
                <li><a href="/about">About Project</a></li>
                <li><a href="/availability">Application Page</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">Sign Up</a></li>
            </ul>
        </div>
    </nav>

    <h3>Loan Application Page.</h3>
    <p>
        User is to provide necessary information for the company to effectively work on this application.
    </p>
    <main>
        <form action="/availability" method="post">
            <div class="container">
                <div class="fields">
                    <div class="form-field">
                        <label for="gender">Gender:</label>
                        <select name="gender" id="gender" required>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                            <option value="none" selected>Prefer not to say</option>
                        </select>
                    </div>
                    <div class="form-field">
                        <label for="married">Are you Married?:</label>
                        <select name="married" id="married" required>
                            <option value="yes">Yes</option>
                            <option value="no">No</option>
                            <option value="none" selected>Prefer not to say</option>
                        </select>
                    </div>
                    <div class="form-field">
                        <label for="dependent">How many people are dependent on you?:</label>
                        <select name="dependent" id="dependent" required>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3+">3 and above.</option>
                        </select>
                    </div>
                    <div class="form-field">
                        <label for="self-employed">Are you Self employed?:</label>
                        <select type="text" name="self-employed" id="self-employed" required>
                            <option value="yes">Yes</option>
                            <option value="">No</option>
                        </select>
                    </div>
                    <div class="form-field">
                        <label for="education">Are you a Graduate?:</label>
                        <select type="text" name="education" id="education" required>
                            <option value="graduate">Yes</option>
                            <option value="non-graduate">No </option>
                        </select>
                    </div>
                    <div class="form-field">
                        <label for="income">How much do you earn? (Currency: Dollars):</label>
                        <input type="number" name="income" id="income" placeholder="Applicant Income" required>
                    </div>
                    <div class="form-field">
                        <label for="co-income">How much does the co-applicant earn? (Currency: Dollars):</label>
                        <input type="text" name="co-income" id="co-income" placeholder="Co-Applicant Income" required>
                    </div>
                    <div class="form-field">
                        <label for="loan_amount">How much would you like to loan?:</label>
                        <input type="number" name="loan_amount" id="loan_amount" placeholder="Loan amount" required>
                    </div>
                    <div class="form-field">
                        <label for="loan_term">How long would you like to take this loan? (in days):</label>
                        <input type="number" name="email" id="loan_term" placeholder="Loan term" required>
                    </div>
                    <div class="form-field">
                        <label for="hist">Have you taken a loan before?:</label>
                        <select type="text" name="hist" id="hist" required>
                            <option value="yes">Yes</option>
                            <option value="no">No</option>
                        </select>
                    </div>
                    <div class="form-field">
                        <label for="property">Which area is your property located?</label>
                        <select type="text" name="property" id="property" required>
                            <option value="urban">Urban</option>
                            <option value="rural">Rural</option>
                            <option value="semi-urban">Semi-Urban</option>
                            <option value="none">Not Applicable</option>
                        </select>
                    </div>
                </div>
                <div class="button-field">
                    <button type="submit" class="submit-button">Submit</button>
                </div>
            </div>
        </form>
    </main>

    <footer>Application page.</footer>
</body>
</html>